
#navlinks {
    color: white;
    font-weight: bold;
    background-color:rgba(128, 128, 128, 0.245);
    padding: 20px;
    text-align: left;
}

#navlinks:hover {
    background-color: red;
    cursor: pointer;
}

#dropdownoptions{
     color: white;
    font-weight: bold;
}
#dropdownoptions:hover{
     background-color: red;
    cursor: pointer;
}

.coro{
    font-size: 80px;
}

@media screen and (max-width:706px){
    .coro{
        font-size: 20px;
    }
}