#navlinks {
    color: white;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.245);
    padding: 20px;
    text-align: left;
}

#navlinks:hover {
    background-color: red;
    cursor: pointer;
}

#dropdownoptions {
    color: white;
    font-weight: bold;
}

#dropdownoptions:hover {
    background-color: red;
    cursor: pointer;
}

.carouselimage1 {
    background-image: url(https://images.hdqwalls.com/download/ferrari-sf90-xx-stradale-95-3440x1440.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.carouselimage2 {
    background-image: url(https://images.hdqwalls.com/download/lamborghini-centenario-4k-2020-hn-3440x1440.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.carouselimage3 {
    background-image: url(https://images.hdqwalls.com/download/bugatti-bolide-2021-8k-qb-3440x1440.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.carouselmainheading {
    font-size: 70px;
}

.homecarmaincard {
    position: relative;
}

.homecarmaincard:hover img {
    opacity: 0.6;
    cursor: pointer;
    transition-duration: .2s;
}

.homecarmaincard .homecarhovercard {
    position: absolute;
    top: 35%;
    visibility: hidden;
}

.homecarmaincard:hover .homecarhovercard {
    visibility: visible;
    transition-duration: .3s;
}

.homecarhovercardbtns {
    background-color: red;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    font-weight: bold;
    transition-duration: .2s;
}

.homecarhovercardbtns:hover {
    background-color: white;
    color: red;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    font-weight: bold;
    transition-duration: .2s;
}

.featurelogos:hover {
    color: red;
    transition-duration: .2s;
}

/* Footer */
.footerlinks:hover {
    color: red;
    cursor: pointer;
    transition-duration: .2s;
}

/* car details page */
.cardetailsherosection {
    background-image: url(https://wallpapercave.com/wp/wp7693218.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;

}

.cardetailsbuttons {
    color: white;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    background-color: red;
    border-radius: 5px;
    padding: 7px 8px 7px 8px;
    transition-duration: .2s;
    font-weight: bold;
}

.cardetailsbuttons:hover {
    color: red;
    background-color: white;
    transition-duration: .2s;
    border-color: red;
}

.singlecardetailsherosection {
    background-image: url(https://img.freepik.com/premium-photo/black-modern-sport-car-closeup-black-background-generative-ai_840300-5219.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.singlecardetailstext {
    font-size: xx-large;
}
.singlecardetailstext2 {
    font-size: 20px;
}

/* media queries */
@media screen and (max-width:991px) {
    .singlecardetailstext {
        font-size: x-large;
    }
}

@media screen and (max-width:706px) {
    .carouselmainheading {
        font-size: 20px;
    }

    .carouselimage2 {
        background-image: url(https://www.jamesedition.com/stories/wp-content/uploads/2020/07/cent2.png);
    }

    .carouselimage1 {
        background-image: url(https://i.redd.it/bww0e1253ea91.jpg);
    }

    .carouselimage3 {
        background-image: url(https://wallpaperaccess.com/full/8982230.jpg);
    }

    .singlecardetailstext {
        font-size: large;
    }
    .singlecardetailstext2 {
    font-size: 15px;
}
}